main {
    min-height: 410px;
    height: auto;
}

main div {
    position: relative;
    font-family: Arial;
}

.personal-inf {
    padding: 5px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    margin-top: 0px;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 5px;
    width: 50%;
    overflow: hidden;
    height: auto;
}

.personal-inf img {
    float: left;
}

.personal-inf h3 {
    padding-top: 20px;
    margin: 0px;
    text-align: center;
}

.personal-inf p {
    font-style: italic;
    font-size: 20px;
    color: darkgrey;
    margin: 0px;
}

.highlight{
    background-color: blue;
}

.post {
    position: relative;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin-top: 0px;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 5px;
    width: 50%;
    height: 150px;
    overflow: hidden;
    height: auto;
}

.top-inf img {
    height: 35px;
    float: left;
}

.top-inf h3 {
    margin: 0px;
    padding-top: 8px;
}

.post-date {
    float: right;
}

.post-date h3 {
    font-size: 14px;
    color: darkgrey;
    margin-right: 10px;
}

.bar {
    overflow: hidden;
    height: auto;
}

.bar div {
    display: inline-block;
}

.bar img {
    margin-left: 20px;
    margin-right: 5px;
    height: 30px;
    float: left;
}

.bar h4 {
    margin: 0px;
    padding-top: 8px;
    color: darkgrey;

}

.likes {
    width: 150px;
    float: left;
}

.tools {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.tools img {
    width: 20px;
    height: auto;
}

.describtion {
    height: auto;
    overflow: hidden;
}

.describtion h4 {
    font-size: 14px;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

.describtion p {
    float: right;
    width: 80%;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

.show-more {
    padding: 5px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    margin-top: 0px;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 5px;
    width: 50%;
    height: 150px;
    overflow: hidden;
    height: auto;
}

.show-more h3 {
    font-style: italic;
    text-align: center;
    margin: 5px;
}

input {
    font-weight: normal;
}

.error{
    margin: 0;
    background-color: orange;
    padding: 5%;
}
.error p{
    margin: 0px;
    font-weight: 600;
    font-family: Arial;
    font-size: 40px;
    font-style: italic;
}

.back-signin{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

.main-cell-signin{
    width: 265px;
    height: 325px;
    margin: 8% auto 11%;
    padding: 1%;
    background-color:rgba(0,0,0,0.1);
}
.sign_in{
    position: relative;
    background-color:rgba(255,255,255,0.1);
    margin: auto;
    padding-top: 5%;
    padding-bottom: 0px;
    padding-left: 30%;
    padding-right: 30%;
    height: 365px;
}

.text-box-signin{
    width: 235px;
    height: 50px;
    font-size: 32px;
    margin-bottom: 5%;
}

.edit-photo {
    float: left;
    position: relative;
    display: inline-block;
    margin: 2%;
    width: 35%;

    background-color: rgba(255, 255, 255, 0);
    height: 20em;
    padding: 1%;
    font-size: 22px;
}

.edit-inform {
    overflow: hidden;
    display: inline-block;
    margin-top: 6%;
    width: 35%;
    font-size: 22px;
}

.icon-load {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    height: 80%;
    border-color: #aaaaaa;
}

.icon-load img {
    width: 100%;
    height: auto;
    bottom: 5px;
    left: 38%;
}

.button-done {
    float: right;
    margin-right: 10px;
    background: #FFA200;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    width: 100px;
    height: 30px;
    padding-top: 5px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 0px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.edit-descr {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 225px;
}

.edit-descr p, .edit-hash p{
    margin: 0px;
}

.description {
    font-size: 18px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.75);
    width: 90%;
    height: 150px;
    resize: none;
}

.edit-hash {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 225px;
}

@media screen and (max-width: 620px ) {
    .edit-photo {
        margin: 1% 1% 1% 15%;
        width: 85%;
    }

    .edit-inform {
        margin: 1% 1% 1% 10%;
        width: 85%;
    }

    .button-done {
        margin-left: 25%;
    }

}

@media screen and (max-width: 420px) {
    .sign_in{
        padding-top: 5%;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .post {
        width: 85%;
        margin: 0%;
    }

    .show-more {
        width: 85%;
        margin: 0%;
    }

    .personal-inf {
        width: 85%;
        margin: 0%;
    }
}