main {
    min-height: 410px;
    height: auto;
}

main div {
    position: relative;
    font-family: Arial;
}

.personal-inf {
    padding: 5px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    margin-top: 0px;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 5px;
    width: 50%;
    overflow: hidden;
    height: auto;
}

.personal-inf img {
    float: left;
}

.personal-inf h3 {
    padding-top: 20px;
    margin: 0px;
    text-align: center;
}

.personal-inf p {
    font-size: 20px;
    color: darkgrey;
    margin: 0px;
}

.post {
    position: relative;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin-top: 0px;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 5px;
    width: 50%;
    height: 150px;
    overflow: hidden;
    height: auto;
}

.top-inf img {
    height: 35px;
    float: left;
}

.top-inf h3 {
    margin: 0px;
    padding-top: 8px;
}

.post-date {
    float: right;
}

.post-date h3 {
    font-size: 14px;
    color: darkgrey;
    margin-right: 10px;
}

.bar {
    overflow: hidden;
    height: auto;
}

.bar div {
    display: inline-block;
}

.bar img {
    margin-left: 20px;
    margin-right: 5px;
    height: 30px;
    float: left;
}

.bar h4 {
    margin: 0px;
    padding-top: 8px;
    color: darkgrey;

}

.likes {
    width: 150px;
    float: left;
}

.tools {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.tools img {
    width: 20px;
    height: auto;
}

.describtion {
    height: auto;
    overflow: hidden;
}

.describtion h4 {
    font-size: 14px;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

.describtion p {
    float: right;
    width: 80%;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

.show-more {
    padding: 5px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    margin-top: 0px;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 5px;
    width: 50%;
    height: 150px;
    overflow: hidden;
    height: auto;
}

.show-more h3 {
    text-align: center;
    margin: 5px;
}

input {
    font-weight: normal;
}

@media screen and (max-width: 420px) {
    .post {
        width: 85%;
        margin: 0%;
    }

    .show-more {
        width: 85%;
        margin: 0%;
    }

    .personal-inf {
        width: 85%;
        margin: 0%;
    }
}